/* Blog carosouel Style*/
.blog-carousel-nav{
    display: flex;
    .nav-common-style{
        font-size: 22px;
        line-height: 32px;
        padding: 0px 16px 3px;
        border-radius: 0px;
        cursor: pointer;
        color: $color-white;
        transition: .4s;
    }
    .owl-prev{
        @extend .nav-common-style;
        background-color: $color-alternet;
        border: 2px solid $color-alternet;
        &.disabled {
            background-color: $color-alternet-light;
        }
        &:hover {
            color: $color-primary;
            border: 2px solid $color-primary;
        }
    }
    .owl-next {
        @extend .nav-common-style;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        &.disabled {
            background-color: $color-secondary;
        }
        &:hover {
            color: $color-alternet;
            border: 2px solid $color-alternet;
        }
    }
}
