/* Management info Box Style */
.management-box{
    margin-top: 32px;
    .img-wrapper{
        img{
            -moz-transition: all 0.4s;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
        }
        &:hover{
            img{
                -moz-transform: scale(1.04);
                -webkit-transform: scale(1.04);
                transform: scale(1.04);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }
    .info-wrapper{
        padding: 18px 0;
        text-align: center;
        h4{
            font-weight: 600;
        }
    }
}