/* Text widget Style */
.widget_text{
    .widget-project-detail-para{
        font-size: 0.875rem;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-blue-white-light;
    }
}
