/*============================================
* 01. Global and Common Styles 
* ============================================ */

html,
body{
    font-family: $fonts-primary;
    font-size: $font-base-size;
}
h1,
h2,
h3,
h4,
h5,
h6{
    color: $color-primary;
}


h1{
    font-size: 2.25rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.125rem;
    color: $color-secondary;
}
h4{
    font-size: 0.875rem;
}
h5{
    font-size:  0.875rem;
    text-transform: uppercase;
}
h6{
    font-size:  0.75rem;
    text-transform: uppercase;
}
p, 
li,
a{
    color: $color-blue-white;
}
img{
    width: 100%;
}
article{
    margin-bottom: 50px;
}
ul{
    padding: 0;
    margin: 0;
    list-style-position: inside;
}