// Variables
// Not going to show in CSS Files

// Colors
$color-primary: #1a2955; //dark-blue: heading, background
$color-secondary: #253a79; //blue: background

$color-alternet: #ff8702; // orange: button background
$color-alternet-light: #ffe7cc;
$color-alternet-dark: #b35f01;

$color-white: #fff;
$color-off-white: #fafafa;
$color-blue-white-light: #d3d8e4; //fonts in dark background
$color-blue-white: #6675a1; //Fonts in white background

// Fonts
$fonts-primary: 'Open Sans', sans-serif;
$font-base-size: 16px;
$font-hilighted: Georgia, Times, "Times New Roman", serif;

$google-api-key: "AIzaSyBpW5RaLWRq7WtYtyfc0Gs0YPNIAOvBtag";

// 42px = 2.625rem = h1 extra large logo
// 36px = 2.25rem = h1
// 24px = 1.5rem = h2
// 18px = 1.125rem = h3
// 16px = 1rem (base) = h4
// 14px = 0.875rem = h5
// 12px = 0.75rem = h6