/*============================================
* 08. Client Relation Style
* ============================================ */

#client-relation{
    padding: 100px 0;
    background-color: $color-off-white;
    .section-title{
        margin-bottom: 55px;
    }
}
