/*============================================
* 07. Latest Projects Section Style
* ============================================ */
#latest-projects{
    background-color: #18243b;
    padding-top: 60px;
    .section-title{
        color: $color-white;
        margin-bottom: 25px;
    }
}